<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h2>Krótki rys historyczny, jako wstęp do kroniki OSP w Jaśkowicach</h2>
      <hr>
      <p class="lead">Wioska Jaśkowice ma długą historię. Liczy dobrych kilkaset lat. Tak jak i inne miejscowości przeżywała dobre i złe czasy,wzloty i upadki. Życie ludzi na tych terenach nie należało do łatwych. Żeby jako tako przetrwać trzeba było dużo i ciężko pracować. Na nic zdawała się nieraz nawet najcięższa praca,kiedy wśród codziennych przeciwność pojawiały się jeszcze klęski losowe takie jak głód wynikający z nieurodzaju, nalot szarańczy, powódź czy ogień. Szczególna trwoga ogarniała mieszkańców gdy pojawiał się pożar. Straszne pożary zdarzały się często.Począwszy od XVIII wieku zaczęły się pojawiać na ziemiach Polskich zorganizowane straże ogniowe,których zadaniem było zwalczanie pożarów.</p>
    </div>
    <div class="col-md-5">
      <h2>Aktualności</h2>
      <hr>
      <app-fb-widget [height]="400"></app-fb-widget>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>Kronika</h2>
      <hr>
      <p class="lead">Na przełomie XIX i XX wieku tego typu organizacja społeczna pojawiła się również w Jaśkowicach. Zawodna i złudna jest ludzka pamięć, zaś zapiski sporządzone na papierze mają to do siebie że często giną.Starsi ludzie przemijają młodsi natomiast nie zawsze przyswajają sobie informacje z przyszłości. Dlatego początki jaśkowickiej Straży giną nam nieco w mrokach dziejów. Trudno ostatecznie roztrzygnąć,w którym dokładnie roku powstała OSP w Jaśkowicach. Podaje się dwie daty i do końca nie wiadomo której się trzymać.</p>
      <p class="lead">Prawdopodobnie pierwsza tutejsza Straż Pożarna rozpoczęła swą działalność w 1886 r a jej komendantem i założycielem był Andrzej Smajek. Na pewno Straż w Jaśkowicach była w 1897 roku. Potwierdza ten fakt napis na zabytkowej szarfie,którą przechowuje się jako cenną pamiątkę. W przekazach ustnych zachowało się również nazwisko Kazimierza Kowalówki jako założyciela Straży. Zabytkową wartość posiada obecnie ręczna sikawka,zakupiona dla potrzeb Straży w 1904r W 1905 roku wybudowano w Jaśkowicach pierwszą drewnianą remizę, która stanęła na placu między przydrożną kaplicą, a zagrodą Hylów. Pomiędzy 1917 a 1925 r. drużyna strażacka została częściowa umundurowana. Nie wiadomo na razie nic o jej stanie liczebnym w tym czasie ewentualnych dokonaniach i osiągnięciach. Wiadomo natomiast, że wspomnianą wyżej sikawkę ciągnęły do pożaru udostępnione przez miejscowych gospodarzy konie. Kiedy odległość do miejsca akcji nie była zbyt duża,druhowie ciągnęli ją sami.</p>
      <p class="lead">Andrzej Smajek stał na czele Straży do roku 1909 po nim dowodzili drużyną OSP następujący druhowie:</p>
    </div>
  </div>
  <div class="row mb-4">
    <ul class="list-group list-group-flush col-md-6">
      <li class="list-group-item">Franciszek Kowalówka <small class="text-muted">w latach 1909-1917</small></li>
      <li class="list-group-item">Wincenty Krawczyk <small class="text-muted">w latach 1917-1925</small></li>
      <li class="list-group-item">Teodor Czubaj <small class="text-muted">w latach 1925-1930</small></li>
      <li class="list-group-item">Franciszek Kowalówka <small class="text-muted">w latach 1930-1938</small></li>
      <li class="list-group-item">Józef Baran <small class="text-muted">w latach 1938-1951</small></li>
      <li class="list-group-item">Franciszek Drzyzga <small class="text-muted">w latach 1951-1957</small></li>
      <li class="list-group-item">Stanisław Jończyk <small class="text-muted">w latach 1957-1962</small></li>
    </ul>
    <ul class="list-group list-group-flush col-md-6">
      <li class="list-group-item">Marian Kowalówka <small class="text-muted">w latach 1962-1966</small></li>
      <li class="list-group-item">Jan Klimończyk <small class="text-muted">w latach 1966-1970</small></li>
      <li class="list-group-item">Mieczysław Kowalówka <small class="text-muted">w latach 1970-1991</small></li>
      <li class="list-group-item">Mieczysław Czubaj <small class="text-muted">w latach 1991-1995</small></li>
      <li class="list-group-item">Marian Dziuba <small class="text-muted">w latach 1996-1997</small></li>
      <li class="list-group-item">Mieczysław Czubaj <small class="text-muted">w latach 1998-2016</small></li>
      <li class="list-group-item">Dominik Waga <small class="text-muted">od 2016</small></li>
    </ul>
  </div>
  <div class="row">
    <p class="lead col-md-12">Szczególnie trudne dla strażaków z Jaśkowic były lata drugiej wojny światowej. W tym czasie obowiązki komendanta pełnił Józef Baran,który był jednocześnie komendantem rejonowym. Biednie się ludziom w tych stronach wtedy żyło. Niejednemu może się wydawać teraz dziwny zapis,który mówił, że komendant Józef Baran podejmował intensywne starania o przyznanie butów drewniaków w ramach wyposażenia Straży. Po zakończeniu wojny już w roku 1946 drużyna OSP w Jaśkowicach wzbogaciła się o nową remizę,która służyła strażakom przez 30 lat. Murowana remiza stanęła w bezpośrednim sąsiedztwie przydrożnej kaplicy od jej zachodniej strony, powstała ona dzięki staraniom Józefa Barana, któremu aktywnie pomagali wtedy Franciszek Hyla, Piotr Marchewka, Jan Klimończyk, Józef Pamuła.</p>
  </div>
</div>
