<div class="container">
  <h1>Kontakt</h1>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <h3>Lokalizacja</h3>
      <p class="lead">ul. Krakowska 32</p>
      <p class="lead">32-051 Jaśkowice</p>
      <h3>Telefon</h3>
      <p>998 | 112 | (12)-270-68-88</p>
      <h3>Facebook</h3>
      <a href="https://www.facebook.com/OSP-Ja%C5%9Bkowice-KSRG-1119049648113885/" class="text-info">OSP Jaśkowice KSRG</a>
    </div>
    <div class="col-md-8">
      <iframe width="700"
              height="500"
              id="gmap_canvas"
              src="https://maps.google.com/maps?q=osp%20ja%C5%9Bkowice&t=&z=13&ie=UTF8&iwloc=&output=embed"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0">
      </iframe>
    </div>
  </div>
</div>
