<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1>Kontakt</h1>
      <hr>
      <p class="lead">ul. Krakowska 32</p>
      <p class="lead">32-051 Jaśkowice</p>
      <h5>tel. (12)-270-68-88</h5>
    </div>
    <div class="col-md-8">
      <iframe width="700"
              height="500"
              id="gmap_canvas"
              src="https://maps.google.com/maps?q=osp%20ja%C5%9Bkowice&t=&z=13&ie=UTF8&iwloc=&output=embed"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0">
      </iframe>
    </div>
  </div>
</div>
