<div class="container">
  <h2>
    Galeria
    <a [routerLink]="'/videos'" class="btn btn-info btn-sm float-right">
      <span appOcticon="device-camera-video"></span> Przejdź do filmów
    </a>
  </h2>
  <hr>
  <div class="card-columns">
    <div class="card" *ngFor="let gallery of galleries">
      <img src="../../assets/images/gallery/{{gallery.id}}/thumbs/{{gallery.thumbnail}}" class="card-img-top">
      <div class="card-body">
        <h4 class="card-title">{{gallery.name}}</h4>
        <p class="text-muted">
          <span class="badge badge-light">{{gallery.count}}</span> zdjęć<span *ngIf="gallery.date">, {{gallery.date}}</span>
        </p>
        <a [routerLink]="['/', 'gallery', gallery.id]" class="btn btn-danger">
          Zobacz
        </a>
      </div>
    </div>
  </div>
  <ul class="nav justify-content-end">
    <li>
      <a [routerLink]="'/videos'" class="btn btn-info btn-sm float-right">
        <span appOcticon="device-camera-video"></span> Przejdź do filmów
      </a>
    </li>
  </ul>
</div>
