<div class="container">
  <div class="alert alert-danger" *ngIf="!gallery">
    Galeria nie istnieje! <a [routerLink]="'/gallery'" class="alert-link">Powrót do listy</a>
  </div>
  <ng-container *ngIf="gallery">
    <h2>
      Galeria <small class="text-muted">{{gallery.name}}</small>
      <a [routerLink]="'/gallery'" class="btn btn-dark btn-sm float-right">< Powrót do listy</a>
    </h2>
    <hr>
    <div class="card-columns">
      <div class="card" *ngFor="let item of images; let i = index" [lightbox]="i" [gallery]="gallery.id">
        <img [src]="item.data.thumb" class="card-img-top">
      </div>
    </div>
    <ul class="nav justify-content-end">
      <li>
        <a [routerLink]="['/gallery']" class="btn btn-dark btn-sm">< Powrót do listy</a>
      </li>
    </ul>
  </ng-container>
</div>
