<div class="row">
  <div class="col-md-7 mb-5">
    <h2>Witamy serdecznie na naszej stronie</h2>
    <hr>
    <h5>W ciągu ostatnich lat nasza jednostka została nie tylko zmodernizowana i wzbogacona o nowe pojazdy, ale co najważniejsze posiadamy najlepszą ekipę ratowniczą w naszej okolicy. Dowodzą temu zwycięstwa w zawodach strażackich przez kilka lat z rzędu.</h5>
    <p class="lead">Chcielibyśmy zaprosić do odwiedzania naszej strony, na której będziemy prezentować nasze akcje gaśnicze, galerię zdjęć, oraz wiele innych ważnych dla nas spraw, którymi chcielibyśmy się z Wami podzielić.</p>
    <img src="assets/images/barrack.jpg">
  </div>
  <div class="col-md-5 mb-5">
    <h2>Aktualności</h2>
    <hr>
    <app-fb-widget></app-fb-widget>
  </div>
</div>

<div class="row">
  <div class="col-md-4 mb-5">
    <div class="card h-100">
      <img class="card-img-top" src="http://placehold.it/300x200" alt="">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Find Out More!</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-5">
    <div class="card h-100">
      <img class="card-img-top" src="http://placehold.it/300x200" alt="">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus totam ut praesentium aut.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Find Out More!</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-5">
    <div class="card h-100">
      <img class="card-img-top" src="http://placehold.it/300x200" alt="">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Find Out More!</a>
      </div>
    </div>
  </div>
</div>
