<div class="container">
  <div class="row">
    <div class="col-md-7 mb-5">
      <h2>Witamy serdecznie na naszej stronie</h2>
      <hr>
      <h5>W ciągu ostatnich lat nasza jednostka została nie tylko zmodernizowana i wzbogacona o nowe pojazdy, ale co najważniejsze posiadamy najlepszą ekipę ratowniczą w naszej okolicy. Dowodzą temu zwycięstwa w zawodach strażackich przez kilka lat z rzędu.</h5>
      <p class="lead">Chcielibyśmy zaprosić do odwiedzania naszej strony, na której będziemy prezentować nasze akcje gaśnicze, galerię zdjęć, oraz wiele innych ważnych dla nas spraw, którymi chcielibyśmy się z Wami podzielić.</p>
      <img src="assets/images/barrack.jpg" class="w-100">
    </div>
    <div class="col-md-5 mb-5">
      <h2>Aktualności</h2>
      <hr>
      <app-fb-widget [height]="600"></app-fb-widget>
    </div>
  </div>
</div>

<header id="banner-fire" class="bg-danger py-5 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12 text-light">
        <h3>
          Skontaktuj się z nami w razie zagrożenia
          <span class="text-danger">(12)-270-68-88</span>
        </h3>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <h2 class="my-4">Zawartość strony</h2>
  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="../../assets/images/equipment.jpg" alt="Sprzęt">
        <div class="card-body">
          <h4 class="card-title">Sprzęt</h4>
          <p class="card-text">Opis posiadanego sprzętu</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-danger">Więcej</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="../../assets/images/history.jpg" alt="Historia">
        <div class="card-body">
          <h4 class="card-title">Historia</h4>
          <p class="card-text">Historia OSP Jaśkowice</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-danger">Więcej</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="../../assets/images/gallery.jpg" alt="Galeria">
        <div class="card-body">
          <h4 class="card-title">Galeria</h4>
          <p class="card-text">Galeria zdjęć i filmy z ostatnich wydarzeń</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-danger">Więcej</a>
        </div>
      </div>
    </div>
  </div>
</div>
