<div class="container">
  <h2>
    Filmy
    <a [routerLink]="'/gallery'" class="btn btn-dark btn-sm float-right">Przejdź do zdjęć ></a>
  </h2>
  <hr>
  <div class="card my-4">
    <h5 class="card-header">Działalność OSP Jaśkowice w 2018 roku</h5>
    <div class="card-body">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/sfwdr9NTl0c"></iframe>
      </div>
    </div>
  </div>
  <div class="card my-4">
    <h5 class="card-header">Działalność OSP Jaśkowice w 2017 roku</h5>
    <div class="card-body">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/W7Kf0DiyXak"></iframe>
      </div>
    </div>
  </div>
  <div class="card my-4">
    <h5 class="card-header">Działalność OSP Jaśkowice w 2016 roku</h5>
    <div class="card-body">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oyVncAkH6i8"></iframe>
      </div>
    </div>
  </div>
  <ul class="nav justify-content-end">
    <li>
      <a [routerLink]="'/gallery'" class="btn btn-dark btn-sm">Przejdź do zdjęć ></a>
    </li>
  </ul>
</div>
